<div id="<%= dom_id truck %>">
  <div>
    <strong>Name:</strong>
    <%= truck.name %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= truck.status %>
  </div>

  <div>
    <strong>User:</strong>
    <%= truck.user_id %>
  </div>

</div>
